<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="../static/style8.css">
</head>
<body>

    <button id="voltar-setinha" onclick="checkOut()">
        <img src="../images/arrow-1829877_640.jpg" alt="setinha-rosa" width="30px" height="30px">
    </button>


    <div class="itens-carrinho">f
        <img src="" alt="" id="img-carrinho">
        <h2 id="nome-carrinho">

        </h2>
        <p id="preco-carrinho">
            
        </p>

    </div>

    <button class="botao-checkout">Fazer o checkout</button>

    <div class="barra-superior">
        <h1 id="carrinho-escrito">Carrinho</h1>
    </div>

    <div class="barra-inferior"></div>

    <script>
        function checkOut(){
            window.location.href = 'index.html';
        }
    </script>
</body>
</html>