<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra finalizada</title>
    <link rel="stylesheet" href="../static/style7.css">
</head>
<body>

    <img src="../images/foto final.jpg" alt="ana-rios" width="650px" height="650px" id="foto">
    <h1 class="agradecimento">Obrigado Pela compra!</h1>
    <button id="voltar-button"><img src="../images/setinha-rosinha.png" alt="volta-pra-pagina-princial" width="30px" height="30px" onclick="redirectBack()"></button>

    <script>
        function redirectBack() {
            window.location.href = 'index.html';
        }
    </script>
</body>
</html>